<div class="row">
    <div class="col-xs-4">
        <div class="pull-left">
        <a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a> 
        </div> 
        <div class="pull-left">
        <a href="/token">  Token</a> 
        </div> 
        {{!-- <div class="pull-left">
        <a href="/login"><i class="fa fa-home" aria-hidden="true"></i> Login</a> 
        </div>  --}}
    </div>
    <div class="col-xs-8">
        <div class="dropdown pull-right"> 
           
        </div>
    </div>
</div>